
@model IEnumerable<WebStore.Models.Employee>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
</head>
<body>
    <h3>Сотрудники магазина</h3>
    <hr />

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Возраст</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>
                    </td>
                    <td>@employee.SurName</td>
                    <td>@employee.Name</td>
                    <td>@employee.MiddleName</td>
                    <td>@employee.Age</td>
                    <td>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.Id">edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <a href="/">На главную</a>
    </p>
</body>
</html>
